.bold{
    background-color: coral;
}

.bolk{
    background: burlywood;
}

.bolg{
    background: blueviolet;
}

.form{
   background: cadetblue;
}


.divi{
    background-color: dodgerblue;
}

.divii{
    background-color: burlywood;
}